<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top nav-bg-color">
  <div class="container-fluid">
    <%= link_to "/#", class: "navbar-brand" do %>
      <%= image_tag "https://i.imgur.com/b81IJZF.png" %>
    <% end %>
    <h1 class="pt-1 head-title"> <%= link_to "AIRSPAS", "/spas", class: "nav-link"%> </h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <div class="d-flex px-3">
            <li class="nav-item active">
              <%= link_to "DASHBOARD", "/dashboards", class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "BOOKINGS", "/bookings", class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "SPAS", "/spas", class: "nav-link" %>
            </li>
          </div>
          <li class="nav-item dropdown">
            <%= image_tag "https://static.thenounproject.com/png/363640-200.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link login-size" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
