<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://coquillade.fr/_novaimg/4698289-1490140_70_994_4419_1177_2200_586.jpg);">
    <h1>Venez vous détendre dans notre sélection de SPA faite pour vous!</h1>
    <div class="btn-banner">
      <a class="btn btn-light mt-5 rounded-pill" href="/spas">Un moment de détente ?</a>
    </div>
</div>

<div class="container">
  <div id="recent">
    <h3>Ajouts récents</h3>
    <div class="activites_expo">
      <div class="activites_cards" id="card_home_1">
        <%= link_to spa_path(@spas_last[0]) do %>
          <%= cl_image_tag @spas_last[0].photo.key, crop: :fill %>
          <p><%= @spas_last[0].name %></p>
        <% end %>
      </div>

      <div class="activites_wrap">
        <div class="activites_cards" id="card_home_2">
          <%= link_to spa_path(@spas_last[1]) do %>
            <%= cl_image_tag @spas_last[1].photo.key, crop: :fill %>
            <p><%= @spas_last[1].name %></p>
          <% end %>
        </div>
        <div class="activites_cards" id="card_home_3">
          <%= link_to spa_path(@spas_last[2]) do %>
            <%= cl_image_tag @spas_last[2].photo.key, crop: :fill %>
            <p><%= @spas_last[2].name %></p>
          <% end %>
        </div>
      </div>

      <div class="activites_cards" id="card_home_4">
        <%= link_to spa_path(@spas_last[3]) do %>
          <%= cl_image_tag @spas_last[3].photo.key, crop: :fill %>
          <p><%= @spas_last[3].name %></p>
        <% end %>
      </div>

      <div class="activites_wrap">
        <div class="activites_cards" id="card_home_5">
          <%= link_to spa_path(@spas_last[4]) do %>
            <%= cl_image_tag @spas_last[4].photo.key, crop: :fill %>
            <p><%= @spas_last[4].name %></p>
          <% end %>
        </div>
        <div class="activites_cards" id="card_home_6">
          <%= link_to spa_path(@spas_last[5]) do %>
            <%= cl_image_tag @spas_last[5].photo.key, crop: :fill %>
            <p><%= @spas_last[5].name %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
