<div class="container" style="margin-top: 30px">
  <h4>Editer votre spa</h4>
  <p>Modifiez les informations à mettre à jour</p>

  <%= simple_form_for(@spa) do |f| %>
    <%= f.input :name, label: "Nom" %>
    <%= f.input :address, label: "Adresse" %>
    <%= f.input :category, collection: Spa::CATEGORIES, label: "Catégorie" %>
    <%= f.input :price_per_hour, label: "Prix par heure €" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Editer le SPA" %>
  <% end %>
</div>
