
<%# Top index  %>
<div class="container">
  <div class="top_index">
    <div class="d-flex justify-content-around">
      <div>
        <h4>Trouvez votre spa rêvé</h4>
        <p>Parmis les plus beaux jacuzzis, hammams et saunas, partout en France !</p>
        <div class="filter">
          <h5> Filtres </h5>
          <ul>
            <%= link_to spas_path(query: params[:query], category: "Hammam") do %>
              <li class="filter_button <%= "active" if params[:category] == "Hammam" %>">Hammam</li>
            <% end %>
            <%= link_to spas_path(query: params[:query], category: "Sauna") do %>
              <li class="filter_button <%= "active" if params[:category] == "Sauna" %>">Sauna</li>
            <% end %>
            <%= link_to spas_path(query: params[:query], category: "Jacuzzi") do %>
              <li class="filter_button <%= "active" if params[:category] == "Jacuzzi" %>">Jacuzzi</li>
            <% end %>
            <%= link_to spas_path do %>
              <li class="filter_button">Reset</li>
            <% end %>
          </ul>
        </div>
        <div class="info">
          <img src="https://cdn-icons-png.flaticon.com/512/665/665049.png" alt="pictogramme-information">
          <span>Plus de <%= @spas.length %> spas disponibles !</span>
        </div>
      </div>
      <div>
        <div class="research_tab">
          <div class="research_symbol"> <img src="https://cdn-icons-png.flaticon.com/512/7472/7472700.png" alt="research_pin_symbol"> </div>
            <%= form_with url: spas_path, method: :get, class: "d-flex" do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Trouvez un spa"
              %>
              <% request.params.slice("category").each do |key, value| %>
                <%= hidden_field_tag key, value %>
              <% end %>
              <%= submit_tag "Search", class: "btn btn-primary" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <article>
      <h4>La selection</h4>
      <div class="grid">
        <% @spas.each do |spa| %>
          <div class="card-selection">
            <%= link_to spa_path(spa) do %>
              <%= cl_image_tag spa.photo.key, crop: :fill %>
              <h5><%= spa.name %></h5>
              <p>A partir de <strong><%= spa.price_per_hour %> EUR</strong></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </article>

    <aside>
      <h4>Les plus populaires &#9733;</h4>
    </aside>
  </div>
</div>

<%= link_to "Create a new spa", new_spa_path if policy(Spa).new? %>
