<h1>Spas#show</h1>
<p>Find me in app/views/spas/show.html.erb</p>

<%= @spa.name %>
<%= @spa.address %>
<%= @spa.category %>
<%= @spa.price_per_hour %>

<%= link_to "Return to index", spas_path %>

<% if policy(@spa).edit? %>
  <%= link_to "Edit this spa", edit_spa_path(@spa) %> |
<% end %>


<%= button_to "Destroy this spa", @spa, method: :delete if policy(@spa).destroy? %>
<!-- Supprime uniquement si l'utilisateur est le bon>
