
<div class="text-center">
<h1> <%= @spa.name %> </h1>
<p>Venez vous détendre chez nous</p>
</div>


<div class="container">
  <div class="card-trip border border-secondary rounded">
    <%= cl_image_tag @spa.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-trip-infos">
      <div>
        <h2> <%= @spa.name %></h2>
        <h2><%= @spa.address%> </h2>
        <h2> <%= @spa.price_per_hour %></h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
    </div>
</div>

<div class="text-right">
<%= link_to "index", spas_path %>

<% if policy(@spa).edit? %>
  <%= link_to "Edit this spa", edit_spa_path(@spa) %> |
<% end %>
<%  if policy(@spa).destroy? %>
  <%= link_to "Supprimer",
    spa_path(@spa),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>
</div>
